<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Applications</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<table>
    <tr>
        <th>Job title</th>
        <th>Full name</th>
    </tr>
    <tr th:each="application : ${applications}">
        <td><a th:href="@{/applications/} + ${application.id}" th:text="${application.job}">TITLE</a></td>
        <td th:text="${application.firstName}">NUMBER</td>
    </tr>
</table>
</body>
</html>