<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<div sec:authorize="isAnonymous()">
    <p>Click <a th:href="@{/login}">here</a> to login if you are HR Manager.</p>
    <p>Click <a th:href="@{/jobs}">here</a> to see open positions if you are possible applicant.</p>
</div>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log Out"/>
    </form>
    <p>Click <a th:href="@{/applications}">here</a> to see applications.</p>
    <!--sonra yukardaki linki değiştir-->
    <p>Click <a th:href="@{/jobs}">here</a> to see and manage job lists.</p>
</div>
</body>
</html>